.container {
  margin-top: 25px;
}

p {
  font-size: 12px;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

footer {
  text-align: center;
  color: whitesmoke;
  font-weight: 800;
}

.reviewTable,
.main {
  margin-top: 20px;
  padding: 10px;
}



@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}

@media (max-width: 750px) {
  video {
    display: none;
  }
  body {
    background: url("campingimage.jpg") no-repeat;
    background-size: cover;
  }
}
